<div id="cart_wrapper">

    <header>
        <h1> Kundvagn </h1>
    </header>

    <main>
        <%= for item <- cart do %>
            <div class="cart_item">
                <h2><%= item.pizza %></h2>
                <div class="cart_toppings">
                    <%= for topping <- item.toppings do %>
                        <%= topping %><br>
                    <% end %>
                </div>

                <div class="cart_buttons">
                    <form action="" method="get">
                        <button class="anpassa">Anpassa</button>
                    </form>
                    <form action="" method="POST">
                        <button class="ta_bort" type="submit">Ta bort</button>
                    </form>
                </div>
            </div>
        <% end %>
    </main>

</div>
