<div id="topbar">
    <img src="/uploads/tonys-pizza-logo.svg" id="logo_img">

    <a><img src="/uploads/tonys-pizza-basket.svg" id="basket_img"></a>
</div>
<div>
    <%= for pizza <- pizzas do %>
        <%= pizza.name %>
        <div>
            <img src="/uploads/<%= pizza.img %>" class="pizza_img">
            <ul>
            <li></li>

            <form action="/pizzas/<%= pizza.id %>/customize" method="get">
                <button type="submit">Anpassa</button>
            </form>
            <form action="/cart/add/<%= pizza.id %>" method="POST">
                <button type="submit">Lägg till i varukorg</button>
            </form>
            </ul>
        </div>
    <% end %>
</div>
